*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 0px;
    background-color: white;
}

form button{
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: #fda085;
    color:white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 50%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    border-radius: 0px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.complete-btn{
    background: rgb(7, 207, 7);
}

.complete-btn:hover{
    background: rgb(19, 223, 19);
}

.trash-btn:hover{
    background: #fc483b;
}

.todo-item{
    padding: 0rem 0.6rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    background-color: rgb(180, 255, 137);
    text-decoration: line-through;
}

.eliminado{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(0, 0, 0);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;    
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    color: white;
    top: 0;
    right: 0;
    padding: 0.8rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: rgb(255, 30, 0);
}